<div class="col-md-4">
  <h2 class="section-title">December premiere</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
  <ul class="movie-schedule">
    <li>
      <div class="date">16/12</div>
      <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
    </li>
    <li>
      <div class="date">16/12</div>
      <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
    </li>
    <li>
      <div class="date">16/12</div>
      <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
    </li>
  </ul>
</div>
<div class="col-md-4">
  <h2 class="section-title">November premiere</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
  <ul class="movie-schedule">
    <li>
      <div class="date">16/12</div>
      <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
    </li>
    <li>
      <div class="date">16/12</div>
      <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
    </li>
    <li>
      <div class="date">16/12</div>
      <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
    </li>
  </ul>
</div>
<div class="col-md-4">
  <h2 class="section-title">October premiere</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
  <ul class="movie-schedule">
    <li>
      <div class="date">16/12</div>
      <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
    </li>
    <li>
      <div class="date">16/12</div>
      <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
    </li>
    <li>
      <div class="date">16/12</div>
      <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
    </li>
  </ul>
</div>
