<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="movie-list">
      <div class="head">
        <h2><%= "#{t ".results"} (#{@movies.count})" %></h2>
      </div>
      <% @movies.each do |movie| %>
        <%= render partial: "movies/movie", locals: {movie: movie} %>
      <% end %>
    </div>
  </div>
</div>