<h3><%= t ".trailer" %></h3>

<iframe class="play-trailer" id="playTrailer" src="https://www.youtube.com/embed/<%= @movie.trailer %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
