<% provide :title, t(".top") %>

<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="movie-list">
      <% @top_movies.each do |movie| %>
        <%= render partial: "movies/movie", locals: {movie: movie} %>
      <% end %>
    </div>
  </div>
  <div class="pagination">
    <%= will_paginate @top_movies %>
  </div>
</div>