<% provide :title, @user.email %>

<div class=user-site>
  <h1><%= t ".profile" %></h1>
  <div class="user-profile">
    <%= render "profile" %>
  </div>

  <h1><%= t ".activity" %></h1>
  <div class="user-activity">
    <%= render "activity" %>
  </div>
</div>
