<% provide :title, t(".list") %>
<table>
  <%= render "layouts/sidenav" %>
</table>
<main class="main-content">
  <div class="container">
    <div class="page">
      <%= render "description" %>
    </div>
  </div>
</main>
